/pic24_code_examples
/ex7_ultrasonic.X/build/
/ex7_ultrasonic.X/dist/
/Lesson13_inclass_ex.X/dist/
/Lesson13_inclass_ex.X/build/
/Proj3.X/build/
/Proj3.X/dist/
/EX_8_Keypad.X/build/
/EX_8_Keypad.X/dist/
/Proj4.X/build/
/Proj4.X/dist/